<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.populvuh.vietdomprayer" android:installLocation="auto" android:versionCode="16" android:versionName="Version 2.3">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
	<application android:theme="@style/MainTheme" android:label="Kinh Thần Vụ" android:icon="@drawable/icon"></application>
</manifest>
